@use "../abstracts/" as *;

body {
    font-family: "Comfortaa";
    position: relative;
}

h1 {
    font-family: "Righteous";
    font-size: 5rem;
    text-align: center;
    margin: 5rem 0;
}

form {
    box-shadow: 0 0 5px rgba(0,0,0,0.25);
    width: 40%;
    margin: auto;
    padding: 3rem;
    display: flex;
    flex-direction: column;

    input {
        margin: 1rem 0;
        padding: 1rem;
        border: 1px solid $purple-light;

        &:focus {
            outline: 2px solid $purple-medium;
        }
    }
    button {
        width: fit-content;
        align-self: center;
        padding: 1rem 3rem;
        border-radius: 1rem;
        border: 1px solid #333;
        background-color: $purple-light;

        &:hover {
            box-shadow: 0 0 5px $pink-medium;
            background-color: $purple-dark;
            color: $white-medium;
        }
    }
}
.list-commandes {
    width: 40%;
    margin: 3rem auto;
    padding: 3rem;
    box-shadow: 0 0 5px rgba(0,0,0,0.25);

    > div {
        width: 100%;
        display: flex;
        justify-content: space-between;

        .delete-btn {
            background-color: transparent;
            border: 0;
            cursor: pointer;
        }
    }
}
.total-commandes {
    position: fixed;
    top: 2rem;
    right: 2rem;
}